# Save the output of this file and use kubectl create -f to import
# it into Kubernetes.
#
# Created with podman-4.4.1
apiVersion: v1
kind: Pod
metadata:
  annotations:
    bind-mount-options: {{ data_dir }}:Z
    io.containers.autoupdate/{{ backend_name }}: registry
    io.containers.autoupdate/{{ frontend_name }}: registry
  creationTimestamp: "2023-08-13T13:24:07Z"
  labels:
    app: {{ service_name }}
  name: {{ service_name }}
spec:
  containers:
  - env:
    - name: GROCY_MODE
      value: production
    - name: GROCY_CULTURE
      value: sv_SE
    - name: GROCY_CURRENCY
      value: SEK
    image: {{ backend_image }}:{{ backend_image_tag }}
    name: {{ backend_name }}
    ports:
    - containerPort: {{ pod_port }}
      hostPort: {{ host_port }}
    resources: {}
    securityContext: {}
    tty: true
    volumeMounts:
    - mountPath: /var/www/data
      name: home-aitvaras-Containers-grocy-data-host-0
  - image: {{ frontend_image }}:{{ frontend_image_tag }}
    name: {{ frontend_name }}
    resources: {}
    securityContext: {}
    tty: true
  hostAliases:
  - hostnames:
    - backend
    ip: 127.0.0.1
  hostname: {{ service_name }}
  restartPolicy: Never
  volumes:
  - hostPath:
      path: {{ data_dir }}
      type: Directory
    name: home-aitvaras-Containers-grocy-data-host-0
status: {}

