RESTIC_REPOSITORY={{ restic_repo_path }}
AWS_ACCESS_KEY_ID={{ evilcloud_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ evilcloud_aws_secret_access_key }}
RESTIC_PASSWORD={{ evilcloud_restic_repo_pass }}
