#jinja2: lstrip_blocks:"True",trim_blocks:"True"
# {{ ansible_managed }}

[Interface]
# {{ inventory_hostname }}
Address = {{ wireguard_address }}
PrivateKey = {{ wireguard_private_key }}
ListenPort = {{ wireguard_port }}