RESTIC_REPOSITORY={{ restic_repo_path }}
AWS_ACCESS_KEY_ID={{ evilserver_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ evilserver_aws_secret_access_key }}
RESTIC_PASSWORD={{ evilserver_restic_repo_pass }}
